/* * { 
    box-sizing: border-box; 
}  */
 
html { 
    width: 100%; 
    min-height: 100%; 
} 
 
body { 
    width: inherit; 
    min-height: inherit; 
    margin: 0; 
    padding: 0; 
} 
#multipleChoice{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:rgb(149, 149, 231);
    width: 300px;
    height: 200px;
 
}